@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --notion-text: #37352f;
  --notion-bg: #ffffff;
  --notion-border: #e9e9e8;
}

.dark {
  --notion-text: #ebebeb;
  --notion-bg: #191919;
  --notion-border: #2f2f2f;
}

body {
  color: var(--notion-text);
  background-color: var(--notion-bg);
  font-family: 'Inter', sans-serif;
}